    /* default css design */
    
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    
    .content {
        padding: 50px 0;
    }
    /* menu design start */
    
    .navbar {
        width: 100%;
    }
    
    .logo {
        width: 30%;
        display: flex;
        justify-content: flex-start;
    }
    
    .menu {
        width: 65%;
        display: flex;
        justify-content: flex-end;
    }
    /* menu design end */
    /* slider start */
    
    .Slider {
        width: 100%;
    }
    
    .carousel-inner img {
        width: 500px;
        float: right;
    }
    
    .carousel_caption {
        width: 50%;
        float: left;
        color: #333;
        margin-top: 12%;
        margin-left: 5%;
    }
    
    .carousel-item img {
        width: 40%;
        float: right;
    }
    
    .carousel_caption h5 {
        font-size: 40px;
        margin: 20px 0;
    }
    /* slider end */
    /* phone cetagories start */
    
    .card {
        border: none !important;
        text-align: center;
        box-shadow: 2px 0px 4px 6px #e3d8d8;
        padding: 20px;
    }
    
    .card-footer {
        background: #fff;
        border: none;
    }
    
    .cardTitle {
        margin: 50px 0px;
    }
    /* phone cetagories end */
    
    .C_Title h1 {
        text-align: center;
        margin-bottom: 100px;
    }
    
    .C_Title span {
        width: 150px;
        display: block;
        border-bottom: 8px solid orange;
        margin: 10px auto;
        border-radius: 20%;
    }
    
    li.nav-item {
        margin-left: 50px;
    }
    
    a.nav-link {
        color: #615858;
        font-size: 22px;
    }
    
    .box_sh {
        box-shadow: 2px 0px 4px 6px #e3d8d8!important;
        padding: 20px!important;
        font-size: 20px!important;
        font-weight: 600!important;
    }
    
    .footer p {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        margin: 50px 0;
        background-color: #333;
        color: rgb(194, 187, 187);
        padding: 20px;
    }
